<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Raspaai password reset</title>
</head>
<body>
<p>Hi <strong>{{ email }}</strong>. We received a request for password reset.</p>
<h3>Verification Code- <strong style="font-size: large">{{ key_code }}</strong></h3>
<p>This code will be valid for only 10 minutes.</p>

<p>If you did not applied for password reset at Raspaai then someone might be trying to reset you password.</p>
</body>
</html>