files:
    "/usr/local/bin/crobjobs.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            * * * * * root source /opt/python/current/env; cd /opt/python/current/app && /opt/python/run/venv/bin/python ./manage.py refreshshopplans > /home/ec2-user/cronlog.txt

            exit 0

commands:
  01_clear_cron_backup:
    command: "rm -f /etc/cron.d/ps_cron.bak"
  02_remove_content:
    command: "echo > /etc/cron.d/ps_cron"

container_commands:
    set_cron_jobs:
        command: "cat /usr/local/bin/crobjobs.sh > /etc/cron.d/ps_cron"
        leader_only: true
