packages:
  yum:
    mod24_ssl: []
    autoconf: []
    automake: []
    gcc: []
    gcc-c++.noarch: []
    cpp: []
    postgresql96-libs: []
    postgresql96-contrib: []
    postgresql96-devel: []
    # python27-psycopg2.x86_64: []
    
commands:
  geo_libraries_install:
    command: |
      geos-config --version || {
            wget https://download.osgeo.org/geos/geos-3.6.4.tar.bz2
            tar xjf geos-3.6.4.tar.bz2
            cd geos-3.6.4
            ./configure
            make
            sudo make install
            cd ..
            sudo ldconfig
        }
        proj || {
            wget https://download.osgeo.org/proj/proj-4.9.3.tar.gz
            wget https://download.osgeo.org/proj/proj-datumgrid-1.8.tar.gz
            tar xzf proj-4.9.3.tar.gz
            cd proj-4.9.3/nad
            tar xzf ../../proj-datumgrid-1.8.tar.gz
            cd ..
            ./configure
            make
            sudo make install
            cd ..
            sudo ldconfig 
        }
        gdalinfo --version || {
            wget https://download.osgeo.org/gdal/2.2.4/gdal-2.2.4.tar.gz
            tar xzf gdal-2.2.4.tar.gz
            cd gdal-2.2.4
            ./configure
            make
            sudo make install
            cd ..
            sudo ldconfig
        }
        
        export LD_LIBRARY_PATH=/usr/local/lib
        echo "Done"
    
    cwd: /home/ec2-user